body {
    background-image: url('../img/paisley.png');
}
.container {
    background-color: rgb(222, 222, 233);
    width: 800px;
    margin: 0px auto;
    border: 2px color #000;
}

.header {
    padding: 20px;
}
.header ul {
    display: flex;
    list-style: none;

    margin-left: -40px;
}

.header ul li {
    margin-right: 30px;
    
}
.header ul li a {
    text-decoration: none;
    color: blue;
    font-size: 20px;
    padding: 8px;
    border-radius: 8px;
}

.header ul li a:hover {
     background-color: #fff;
     color: red;
     transition: 0.05px;
}
.hero {
    background-size: cover ;
    background-image: url('../img/hero.jpg');  /*mengunakan ../ untuk pemangilan dalam file gambar*/
    height: 250px;
    background-position: 0 -70px;
    border-top: 2px solid #626adeS ;
    border bottom:5px solid salmon;

}

.artikel {
    margin: 20px;
}
.judul p {
    margin-top: -20px;
    font-size: 14px;
}
.deskripsi {
    text-align: justify;
}
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
    letter-spacing: 3px;
}